///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                          NOTES
//  - design system components
//    > Breakpoints
//    > Layout
//    > Colors
//    > Type Definition
//    > Type Styles
//    > Animation

///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                          SETUP

@import 'fonts';

///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                    BREAKPOINTS

$mobile-breakpoint: 788px;

@mixin mobile-media {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}
// usage:
// @use 'design'
// @include design.mobile-media
//    background-color: red


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                         LAYOUT

$space-unit: 8px;

@function space($multiplier) {
  @return $multiplier * $space-unit;
}
// usage:
// margin-left: space(8)


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                         COLORS

$background-dark-gray: #2f3b3b;

$dialogue-box: #554e45;
$dialogue-text: #c0d4d4;


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                    TYPE STYLES

@mixin makeBlockMargins($value) {
  margin-block-start: $value;
  margin-block-end: $value;
}

@mixin page-title-type {
  @include makeBlockMargins(0);
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@mixin copy-type {
  // font-size: 15px;
  // line-height: 21px;
  // font-weight: 400;
}

@mixin opening-dialogue-speaker-type {
  color: $dialogue-text;
  font-family: Deja Vu Sans;
  font-weight: 700;
  font-size: space(1.7);
}

@mixin opening-dialogue-text-type {
  color: $dialogue-text;
  font-family: Deja Vu Sans;
  font-style: normal;
  font-style: oblique;
  font-size: space(1.6);
  line-height: space(2.4);
}

@mixin misc-link-styling {
  color: $red;
  &:hover {
    color: $light-red;
  }
}


// usage:
// @include art-meta-copy-type


///////////////////////////////////////////////////////////////////////////////////////////////
////////////////                                                                     ANIMATIONS

// mixin replicating keyframe animation for different vendors
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content };
  @-moz-keyframes #{$name} { @content };
  @-ms-keyframes #{$name} { @content };
  @keyframes #{$name} { @content };
}
// usage:
// @include keyframes(fade-in) {
//   0%    {opacity: 0;}
//   100%  {opacity: 1;}
// }